body{
    background-color: #fff;
}

a
{
    text-decoration: none;
}
.product-card {
    width: 100%;
    position: relative;
    margin: 20px auto;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-category {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.product-details h4 a:hover {
    color: #000;
}

.product-details p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 18px;
    color: rgb(68, 68, 68);
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
  
}

.product-price {
    font-size: 18px;
    color: #530606;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
}

.product-links {
    text-align: right;
    color: rgb(32, 32, 32);
display: flex;
align-items: center;
justify-content: center;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}
.updateBtn {
    background: transparent;
    border: none;
    width: 15px;
    height: auto;
    padding: 0rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #eee;
    margin: 5px;
}
.updateBtn button:hover {
    background: rgb(204, 204, 204);
}
.qty {
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-item {
    margin: 5px;
    cursor: pointer;
}
.delete-item:hover{
    color: red;
}
@media screen and (max-width: 800px) {
    .product-card{
        margin: 5px auto !important;
    }
}