@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Princess+Sofia&display=swap');

.quote_content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 320px;
}
.quote {
    font-weight: 300 !important;
    text-transform: uppercase;
    font-size: 30px;
}
.link a{
text-decoration: none;
color: inherit;
}
.link a:hover {
    color: inherit;
}
.link {
    border-bottom: 1px solid;
    padding-bottom: 1rem;
}
